*{
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}



.bubble{
    z-index: 0;
    margin-top: 5%;
    position: absolute;
    margin-left: 14%;
   
    
  

}

.bubble1{
    height: 180px;
}


.bubblea{
    z-index: 0;
    margin-top: 33%;
    position: absolute;
    margin-left: 40%;
   
    
  

}

.bubble2{
    height: 130px;
}



.mainbody{

    color:black;
    z-index: 100;
    position: relative;
    
    

}

.header{
    width: 100%;
    height: 50px;
   
}
.row1{
    width: 100%;
    height: 100%;
}

.logo{
    text-transform: uppercase;
    font-size: 150%;
    text-align: center;
    font-weight: 800;
    font-family:sans-serif;
    padding-right: 7%;
    letter-spacing: 2px;
    

}
.logo a{
    text-decoration: none;
    color: black;
}
.logo:hover{
color: blueviolet;
}

.bullet{
    font-size: 120%;
    color: blueviolet;
    cursor: pointer;
}


.navigation{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    padding-left: 5%;
    font-size: 150%;
   
    

    
}




.navigation ul li{
    display: flex;
    list-style: none;
    float: left;
    margin-left: 6%;
    height: 45px;
  
    
    

}
.navigation ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;

}

.navigation ul li a:hover {
    color: black;
   
    border-bottom: 4px solid  #e912cc; ;

    

}


.social{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -2%;
}

.social a{
    color: black;
    margin-left: 10%;

}

.soc{
    margin-left: 10%;
}
.soc:hover{
    color: blueviolet;
    cursor: pointer;
}


.col1{
    padding-top: 12%;
    
}


.hello{
    color:black;
    font-size: 160%;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.undersc{
    font-size: 130%;
    color: blueviolet;
    font-weight: 600;
}


.im{
    color:black;
    font-size: 265%;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.typingjs{
    color: blueviolet;
 
   
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lorem{
    color: rgba(0, 0, 0, 0.63);
    font-size: 100%;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button{
    display: flex;
    margin-top: 5%;
    margin-left: -1%;

}

.btn1{
    margin-left: 3%;
    font-size: 100%;
    height: 60px;
    width: 150px;
    
}


.btn1:hover{
   background-color: blueviolet;
   cursor: pointer;
   color: white;
   border-color: blueviolet;
   -webkit-box-shadow: 1px 4px 5px 0px rgba(247, 4, 174, 0.75);
   
}


.splash{
  
    z-index: 0;
    width: 100%;
    height: 70%;
  


}

.image{
    width: 110%;
    height: 100%;
    padding-top: 18%;
   
  
   
}

.myimg{
    z-index: 1;
    margin-top: -72%;
    margin-left: 30%;
 

}

.myimg{
  
    animation: animateUser 4s linear infinite;
}

@keyframes animateUser{
    50%{
        margin-top: -72.5%;
        margin-left: 31.5%;
    }
}


.bubble{
    
    animation: animateBubble 4s linear infinite;
    
   
 

}


.bubblea{
    animation: animateBubblea 8s linear infinite;
   
   
    
  

}


@keyframes animateBubble{
    50%{
        margin-top: 5.5%;
   
        margin-left: 14%;
    }
}

@keyframes animateBubblea{
    60%{
        margin-right: 1%;
 
        margin-left: 40.8%;
        margin-top: 33.5%;
   
    }
}

@media only screen and (max-width: 600px) {


    *{
        margin:0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      
    }
    
    
    
    
    
    
    .mainbody{
    
        color:black;
        z-index: 100;
        position: relative;
        
        
    
    }
    
    .header{
        width: 100%;
        height: 50px;
        text-align: center;
        align-content: center;
        justify-content: center;
    
       
    }
    .row1{
        width: 100%;
        height: 100%;
        

    }
    
    .logo{
        text-transform: uppercase;
        font-size: 150%;
        text-align: center;
        font-weight: 800;
        font-family:sans-serif;
        padding-left: 20%;
      
        letter-spacing: 2px;
        
    
    }

    .logo a{
        text-decoration: none;
        color: black;
    }
    .logo:hover{
    color: blueviolet;
    }
    
    .bullet{
        font-size: 120%;
        color: blueviolet;
        cursor: pointer;
    }
    
    
    .navigation{
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 100%;
   
    }

    
    
    
    
    
    /* .navigation ul li{
        display: flex;
        list-style: none;
        float: left;
        margin-left: 6%;
        
        
    
    }
    .navigation ul li a {
        text-decoration: none;
        color: black;
    
    }
    
    .navigation ul li a:hover {
       
        color: blueviolet;
       
    
    } */
    
    
    .social{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        
    }
    
    .social a{
        color: black;
        margin-left: 10%;
    
    }
    
    .soc{
        margin-left: 10%;
    }
    .soc:hover{
        color: blueviolet;
        cursor: pointer;
    }
    
    
    .col1{
        padding-top: 12%;
        
    }
    
    
    .hello{
        margin-top: 12%;
        color:black;
        font-size: 130%;
        letter-spacing: 3px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .undersc{
        font-size: 130%;
        color: blueviolet;
        font-weight: 300;
    }
    
    
    .im{
        color:black;
        font-size: 140%;
        margin-top: 8%;
   
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .typingjs{
       
        color: blueviolet;
     
        letter-spacing: 3px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .lorem{
        color: rgba(0, 0, 0, 0.63);
        font-size: 80%;
        letter-spacing: 3px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .button{
        display: flex;
        margin-top: 5%;
        width: 100%;
        height: 30px;
       margin-left: 25%;
        
    
    }
    
    .btn1{
        margin-left: 3%;
        font-size: 50%;
        width: 80px;
        height: 25px;
    }
    
    
    .btn1:hover{
       background-color: blueviolet;
       cursor: pointer;
       color: white;
       border-color: blueviolet;
       -webkit-box-shadow: -1px 6px 8px 0px rgba(0,0,0,0.75);
       
    }
    
    
    .splash{
      
        z-index: 0;
        width: 100%;
        height: 50%;
        margin-left: -10%;
      
    
    
    }
    
    .image{
        width: 110%;
        height: 100%;
        padding-top: 18%;
       
      
       
    }
    
    .myimg{
        z-index: 1;
        margin-top: -50%;
        margin-left: 20%;
        width: 50%;
     
    
    }
    
    .myimg{
      
        animation: animateUser 4s linear infinite;
    }

    .image2{
        width: 80%;
    }
    
    @keyframes animateUser{
        50%{
            margin-top: -50.5%;
            margin-left: 20.5%;
        }
    }
    
    
    .bubble{
        
        animation: animateBubble 4s linear infinite;
        
       
     
    
    }
    
    
    .bubblea{
        animation: animateBubblea 8s linear infinite;
       
       
        
      
    
    }
    
    
    @keyframes animateBubble{
        50%{
            margin-top: 5.5%;
       
            margin-left: 14%;
        }
    }
    
    @keyframes animateBubblea{
        60%{
            margin-right: 1%;
     
            margin-left: 70.8%;
            margin-top: 28.5%;
       
        }
    }

    
  .bubble{
    z-index: 0;
    margin-top: 5%;
    position: absolute;
    margin-left: 14%;
   
    
  

}

.bubble1{
    height: 60px;
}


.bubblea{
    z-index: 0;
    margin-top: 29%;
    position: absolute;
    margin-left: 70%;
   
    
  

}

.bubble2{
    height: 100px;
}


.toggle{
    margin-top: -23%;
    margin-left: -15%;
    width: 20%;
    font-size: 80%;

  

}

.navfont{
    font-size: 100%;
    width:25%;
    margin-left:-14%
   -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.47)
  
}

.navfont ul{
    margin-left: -14%;
    width: 20%;
   
   
}

.navfont ul li{
    line-height: 1px; 
    height:24px;
   
   
}





.navfont ul li:hover{
    background-color: blueviolet;
    

}

.navfont ul li a:hover{
    color: white;
   
    

}


.content{
    margin-top: 50%;
}

h1{
    text-align:center;
     
}
    


    
  



  }

  
